.checkout {
    padding-left: 200px;
    margin-bottom: 100px;
}

.accordion__header {
    margin-top: 89px;
    color: #222222;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}


.shipping_flexbox {
    margin-left: 35px;
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.shipping_text-big {
    font-family: $font-family;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.shipping_text-mid {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.shipping_text-small {
    margin-top: 8px;
    color: #b3b2b2;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.shipping_text-req {
    margin-bottom: 40px;
    color: #ff0d0d;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.shipping__button {
    margin-top: 32px;
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;

    color: #4a4a4a;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.shipping_radio {
    margin-top: 15px;
    background-color: #000000;
}

.shipping_input {
    margin-top: 16px;
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.req {
    color: #ff0d0d;
    font-family: $font-family;
    font-size: 17px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}

.small {
    text-transform: none;
}

.box {
    margin-top: 30px;
    margin-bottom: 10px;
}

.radio_box {
    margin-top: 20px;
    margin-bottom: 30px;
}