.subscribe {
    height: 429px;
    background: url('img/subscribe.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.subscribe__wrapper {
    display: flex;
    justify-content: space-around;
}

.subscribe__right {
    padding-top: 111px;
    display: flex;
    justify-content: space-around;
}

.subscribe__lines {
    width: 90px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.subscribe__line-left {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.subscribe__line-right {
    width: 38px;
    height: 4px;
    background-color: $color;
}

.subscribe__text {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 386px;
    height: 68px;
    color: #222224;
    font-family: $font-family;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.name {
    color: #222224;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 300;

    letter-spacing: 0.3px;
    line-height: 14px;
}

.sign span {
    width: 82px;
    height: 27px;
    color: $color;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.sign {
    font-style: normal;
    padding-top: 19px;
    color: #222224;
    font-family: $font-family;
    font-size: 16px;
    line-height: 26px;
    text-align: left;

}

.girl__head {
    border-radius: 50%;
    height: 83px;
}

.subscribe__left {
    margin-top: 111px;
}

.subscribe__left-text {
    color: #222224;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: center;
    font-size: 24px;

    letter-spacing: 0.6px;
    line-height: 34px;
    text-transform: uppercase;
    padding-top: 20px;
}

.subscribe__left-text div {
    color: #222224;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;

    letter-spacing: normal;
    line-height: normal;
    text-align: center;

    letter-spacing: 0.35px;
    line-height: 24px;
    margin-bottom: 35px;
}

.subscribe__form-email {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 25px;
    border: none;
}

.subscribe__form-button {
    border: none;
    margin-left: -3px;
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: $color;

    color: #ffffff;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;

    letter-spacing: normal;
    text-align: center;
}

.footer__wrapper {
    margin-top: 100px;
    height: 486px;
    display: flex;
    justify-content: space-between;
}


.social {
    padding-left: 60px;
    background-color: #e6e6e6;
}

.footer__text {
    color: #898989;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;

    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.footer__logo {
    width: 100px;
    margin-bottom: 29px;
}

.first__column {

    width: 427px;
    height: 180px;
    color: #898989;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;

    letter-spacing: normal;
    line-height: 24px;
    text-align: right;


    letter-spacing: 0.35px;
    line-height: normal;
}

.footer__column {
    margin-left: 60px;

}

.footer__columns {
    display: flex;
    justify-content: space-between;

}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 154px;
}

.footer__link {

    color: #898989;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: normal;
    text-align: center;

    letter-spacing: 0.4px;
    line-height: 59px;
    text-decoration: none;
}


.footer__column-header {
    margin-bottom: 40px;
    text-align: center;
    height: 14px;
    color: $color;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 700;

    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    /* Text style for "C, OMPANY" */

    letter-spacing: 0.45px;
    line-height: normal;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 79px;
    background-color: #e6e6e6;
}

.social__text {
    width: 260px;
    height: 14px;
    color: #7a7a7a;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 42px;
    text-align: right;
}

.social_icons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

}

.social_icon {
    margin: 3px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    color: #b2b2b2;
    font-family: "Font Awesome";
}

.social-link {
    text-decoration: none;
}

.facebook_icon {
    padding: 8px;
    width: 9px;
    height: 16px;

}

.twitter_icon {
    padding: 8px;
    width: 15px;
    height: 13px;
}

.linkedin_icon {
    padding: 8px;
    width: 14px;
    height: 14px;
}

.pinterest_icon {
    padding: 8px;
    width: 12px;
    height: 15px;
}

.google-plus_icon {
    padding: 8px;
    width: 21px;
    height: 14px;
}

.social_icon:hover {
    background-color: $color;
    color: #f7f7f8;
}