.header__wrapper {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #ffffff;
}

.header__left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header__right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.logo img {
    width: 59px;
    height: 51px;
}

.logo div {
    width: 93px;
    height: 19px;
    color: #222222;
    font-family: $font-family;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.68px;
    line-height: normal;
    padding: 12px 37px 12px 12px;
}

.logo div mark {
    color: $color;
    font-family: $font-family;
    font-weight: 400;

    letter-spacing: 0.68px;
    line-height: normal;
    background-color: white;
}

summary {
    display: block;
}

summary::after {
    background-color: #fff;
    width: 9px;
    height: 6px;
    color: #838383;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
}

/* details[open] .nav__list {
    position: relative;
}

details[open] .menu__list {
    position: relative;
} */

.browse {
    width: 57px;
    height: 37px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #222222;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;

    letter-spacing: normal;
    line-height: 32px;
}

/* .browse div {
    width: 46px;
    height: 10px;
    color: #222222;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;
    
    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
    
    letter-spacing: 0.35px;
    line-height: normal;
    padding: 12px 13px;
} */

.search {
    display: flex;
    justify-content: space-between;
    height: 39px;
}

.search__input {
    width: 300px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 16px 14px;
}

.search__btn {
    width: 37px;
    color: #a4a4a4;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 32px;
    text-align: center;

    letter-spacing: 0.35px;
    line-height: normal;
    background-color: #ffffff;
}

.search__btn div {
    width: 1px;
    height: 38px;
    background-color: #e8e8e8;
}

.basket {
    width: 41px;
    height: 37px;
}

.basket__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.basket__menu {
    display: block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 262px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 18px;
    z-index: 2;
}

.basket__menu::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 46px;
    left: 15px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.basket__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.basket__checkout {
    margin-bottom: 11px;
    border: 1px solid $color;
    padding: 20px 20px 20px 20px;
    color: $color;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.basket__gotocart {
    padding: 20px 20px 20px 20px;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.basket__item-delete {
    margin-top: 36px;
    width: 15px;
    height: 15px;
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
}

.item__description {
    display: block;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
}

.basket__star {
    color: #e4af48;
    font-family: "Font Awesome";
    font-size: 12px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: normal;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.basket__price {
    width: 52px;
    height: 12px;
    color: $color;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.basket__total {
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;

    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 32px;
}

.basket__items {
    margin-bottom: 19px;
}

.account {
    background-color: $color;
    padding: 16px 19px;
    color: #ffffff;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.38px;
    line-height: normal;
}

.account div {
    text-align: center;
    width: 82px;
    color: #ffffff;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 32px;

    letter-spacing: 0.38px;
    line-height: normal;
}

.nav {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
}

.nav__link {
    padding: 19px 20px 22px;
    color: #222222;
    text-decoration: none;
    position: relative;
}

.nav__menu {
    width: 150px;
    color: #222222;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;

    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.browse__hedding {
    border-bottom: 1px solid #e6e6e6;
    color: #232323;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;

    letter-spacing: normal;
    line-height: 32px;
    text-transform: uppercase;

}

.browse__menu {
    display: block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 262px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.browse__menu::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 45px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.browse-menu-link {
    display: block;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    color: #4f4f4f;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 28px;
}

.mega-box {
    display: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 33px;
}

.menu-list:hover .mega-box {
    display: flex;
}

.last:hover .mega-box {
    right: 0;
}

.mega-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 20px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.mega-hedding {
    width: 235px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.mega-menu-link {
    display: block;
    color: #646464;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 25px;
}

.megs-flex {
    margin-right: 46px;
}

.megs-flex:last-of-type {
    margin-right: 0;
}

.mega-menu-link:hover {
    color: $color;
}

.nav__list {
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 19px;
}

.supersale_img {
    margin-top: 32px;
    width: 255px;
    height: 118px;
    position: relative;

}

.supersale_box {
    display: flex;
}

.supersale_txt {
    position: absolute;
    color: #ffffff;
    font-family: "Lato";
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    line-height: 28px;
    text-transform: uppercase;
    margin: 10px;
    width: 71px;
    bottom: 30px;
    right: 20px;
}