.single__main {
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
}

.single__main-img {
    align-items: center;
    width: 597px;
    height: 724px;
    background: url('img/women-collection.jpg');
    background-position: center;
    margin-bottom: 40px;
}

.parametrs__wrapper {
    margin-top: -80px;
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.parametrs__header {
    margin-top: 43px;
    height: 10px;
    color: $color;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.parametrs__header-black {
    color: #4d4d4d;
    font-family: $font-family;
    font-size: 18px;
    font-weight: bolder;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.parametrs__req {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.parametrs__text {

    color: #5e5e5e;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.parametrs {
    display: flex;
    justify-content: space-around;
}

.parametrs div {
    display: flex;
    width: 150px;
}

.parametr {
    color: #b9b9b9;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.parametr_value {
    padding-right: 30px;
    color: #2f2f2f;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.parametr__price {
    color: $color;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.parametrs__columns {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

.parametrs__column {
    padding-left: 30px;
    padding-right: 50px;

}

.parametr__select {
    padding: 8px;
    border: 2px solid #eaeaea;
    background-color: #ffffff;
    color: #bcbcbc;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 100%;
}

.option_text {
    color: #bcbcbc;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.parametr__add {
    margin-top: 25px;
    height: 55px;
    border: 1px solid $color;
    background-color: #ffffff;
    color: $color;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}

.parametrs__box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.maylike__header {
    margin-top: 120px;
    margin-bottom: 72px;

    color: #4d4d4d;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.parametrs__line {
    width: 63px;
    height: 3px;
    margin-top: 14px;
    background-color: #f16d7f;
}

.parametrs__header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}