@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

.header__background {
  background-color: #f6f6f6;
}

.header__top {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.40625%;
}

.header__right {
  width: 27%;
}

.header__right select {
  background-color: #f6f6f6;
}

.header__left {
  width: 43%;
}

.header__info {
  color: #7e7e7e;
  font-family: "Merriweather Sans";
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  margin-right: 7.33333333%;
}

.header__info:last-child {
  margin-right: 0px;
}

.header__info:nth-child(4) {
  margin-right: 0px;
}

.header__info .info-select {
  border: 0px;
  background-color: #f6f6f6;
}

.header__btm {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.header__btm a {
  text-decoration: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1%;
}

.header .logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__text {
  color: #454545;
  font-family: "Merriweather Sans";
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}

.header__nav {
  width: 51.9%;
}

.header__nav .header__search_block {
  height: 32px;
}

.header__nav .header__menu_ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__search .search--input {
  width: 260px;
  height: 100%;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  border-right: 0px;
  padding: 1%;
  color: #888888;
}

.header__search i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  border-left: 0px;
  color: #888888;
}

.header__menu .menu__link {
  display: inline-block;
  color: #565656;
  font-family: Cousine;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
}

.header__content {
  background-color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1070px;
}

.header__content .row__left_border {
  color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.header__content .row__right_border {
  color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.header__content .content__container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__content .content__container .content__text {
  width: 60%;
}

.header__content .text_p1 {
  color: #555555;
  font-family: Cousine;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1.5517%;
}

.header__content .text_p2 {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-family: "Merriweather Sans";
  font-size: 100px;
  font-weight: bolder;
  font-style: normal;
  letter-spacing: normal;
  line-height: 80px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1.5517%;
}

.header__content .text_p3 {
  color: #4c4c4c;
  font-family: "Roboto Condensed";
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.header__content .text_p4 a {
  text-decoration: none;
  color: #333333;
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.15px;
  text-align: left;
  text-transform: uppercase;
}

.menu__list {
  margin: 2.4% 3% 2.8%;
}

.menu__list:last-child {
  margin-right: 0px;
}
/*# sourceMappingURL=style.css.map */